<h1>Listing candidates with votes</h1>

  <% @candidates.each do |cand| %>

    <p><%= cand.name %><strong> Total=<%= cand.votes.collect(&:voters).sum %></strong></p>
    <% cand.votes.each do |v| %>
       <p>
          <%= v.station.name %> = <%= v.voters %>
      </p>
     <% end %>



  <% end %>
