<h2>
  <strong>Polling Stations of Union Council</strong> <%= @uc.name %>
</h2>
<div>

 <ol>
  <% @uc.stations.each do |stn| %>
      <li><%= stn.name %></li>
  <% end %>
</ol>
</div>
<%= link_to 'Edit', edit_uc_path(@uc) %> |
<%= link_to 'Back', ucs_path %>
