<h1>Dashboard Area</h1>
<h2>Welcome <%= current_user.username %></h2>

<div class="row">
  <div class="col col-sm-4">
    <%= link_to 'Union councils', ucs_path %>
  </div>
  <div class="col col-sm-8">
    8
  </div>
</div>